version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    expose:
      - "3000"

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
