version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
